<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"> 
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body id="body-pd">
    
    
  
  <!-- MENU -->
<nav class="menu">
  <ol>
    <li class="menu-item"><a th:href="@{/livraria/home/}">Home</a></li>
    <li class="menu-item">
      <a href="#0">Livro</a>
      <ol class="sub-menu">
        <li class="menu-item"><a th:href="@{/livraria/cadastroLivro/}">Cadastrar</a></li>
        <li class="menu-item"><a th:href="@{/livraria/listarLivro/}">Listar</a></li>
      </ol>
    </li>
    <li class="menu-item">
      <a href="#0">Cliente</a>
      <ol class="sub-menu">
        <li class="menu-item"><a th:href="@{/livraria/cadastroCliente/}">Cadastrar</a></li>
        <li class="menu-item"><a th:href="@{/livraria/listarCliente/}">Listar</a></li>
      </ol>
    </li>
    <li class="menu-item">
      <a href="#0">Funcionario</a>
      <ol class="sub-menu">
        <li class="menu-item"><a th:href="@{/livraria/cadastroFuncionario/}">Cadastrar</a></li>
        <li class="menu-item"><a th:href="@{/livraria/listarFuncionario/}">Listar</a></li>
      </ol>
    </li>
  </ol>
</nav>
    
  
    <header>
      <div class="login-page">
        <h2 id="form">Cadastro de Cliente</h2>
        <div class="form">
          <form class="login-form" action ="/livraria/salvarCliente"  method ="POST" th:object = "${cliente}" 
                enctype="multipart/form-data">
                
         
        <!-- ALERTA DE SUCESSO --> 
		<div class="alert alert-success" role="alert"
			 th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
        
        <!-- ALERTA DE ERRO -->  
                
		<div class="alert alert-danger" role="alert"
			 th:if="${#fields.hasAnyErrors()}">
		     <div th:each="detailedError : ${#fields.detailedErrors()}">
		     	<span th:text="${detailedError.message}"></span>
		     </div>
		</div>
            
            
            <input type="hidden" th:field="*{codigo}">
            <input type="text"   th:field = "*{nome}"  placeholder="Nome"/>
            
            <input id="cpf" type="text" th:field= "*{cpf}" onkeyup="cpfCheck(this)" maxlength="18" 
            onkeydown="javascript: fMasc( this, mCPF );" placeholder="CPF" >
            <span id="cpfResponse"></span> 
            
            <input type="text"   th:field="*{profissao}" placeholder="Profissão"/>
            
            <input type="text" name="outra_data" id="outra_data" maxlength="10" onkeypress="mascaraData( this, event )" 
             th:field="*{dataNascimento}"  placeholder="Data de Nascimento" />
            
            <input type="file" name="imagem" placeholder="Imagem"/>
            
            <button th:if="${cliente.codigo == null}" th:text="'Cadastrar'"></button>
            <button th:unless="${cliente.codigo == null}" th:text="'Atualizar'"></button>
            
          </form>
        </div>
      </div>   

    </header>
    
 
    
    <script src="/js/index.js"/></script>
    <script src="/js/bootstrap.min.js"/></script> 
   
    
</body>
</html>